PORT= port / 3000
FRONTEND_URL= frontend base url

# AUTH0

AUTH0_AUDIENCE= custom api identifier
AUTH0_ISSUER_URL= single page aplication domain + slash at the end 
AUTH0_USERINFO_ISSUER_URL= single page aplication domain

AUTH0_CLIENT_ID_M2M= machine to machine or M2M client id
AUTN0_CLIENT_SECTET_M2M= M2M client secret

# MONGO

MONGODB_URI= mongo db url, example: mongodb+srv://User:Pasword@clustername.1rvm4.mongodb.net/DatabaseName?retryWrites=true&w=majority

# BACKBLAZE

BACKBLAZE_KEY_ID= key id generated for the backblaze aplication key
BACKBLAZE_APPLICATION_KEY= key given after creating the application key or bucker
BACKBLAZE_BUCKET_ID= bucket id given by de created bucket
BACKBLAZE_BUCKET_NAME= bucket name
BACKBLAZE_DOWNLOAD_URL=https://f000.backblazeb2.com

# PYTHON

PYTHON_EXECUTABLE= python executable path